[submodule "Betweenness"]
	path = Betweenness
	url = git@github.com:It4innovations/Betweenness.git
[submodule "HyperLoom"]
	path = HyperLoom
	url = https://github.com/It4innovations/HyperLoom
[submodule "snailwatch"]
	path = snailwatch
	url = https://github.com/It4innovations/snailwatch
[submodule "Maui-Simulation"]
	path = Maui-Simulation
	url = https://github.com/It4innovations/Maui-Simulation
[submodule "mloc"]
	path = mloc
	url = https://github.com/It4innovations/mloc
