[submodule "Betweenness"]
	path = Betweenness
	url = git@github.com:It4innovations/Betweenness.git
[submodule "HyperLoom"]
	path = HyperLoom
	url = https://github.com/It4innovations/HyperLoom
[submodule "snailwatch"]
	path = snailwatch
	url = https://github.com/It4innovations/snailwatch
[submodule "Maui-Simulation"]
	path = Maui-Simulation
	url = https://github.com/It4innovations/Maui-Simulation
[submodule "mloc"]
	path = mloc
	url = https://github.com/It4innovations/mloc
[submodule "urban-tep"]
	path = urban-tep
	url = https://github.com/It4innovations/urban-tep
[submodule "RobotSoccer"]
	path = RobotSoccer
	url = https://github.com/It4innovations/RobotSoccer
[submodule "TimeSeriesComparer"]
	path = TimeSeriesComparer
	url = https://code.it4i.cz/ADAS/TimeSeriesComparer.git
[submodule "RQA_HPC"]
	path = RQA_HPC
	url = https://code.it4i.cz/ADAS/RQA_HPC.git
